
.Switch{
    background: url("C:/Users/Admin/OneDrive/Desktop/The-Library/the-library/public/Images/switch.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 1000px rgba(146, 0, 0, 0.5);
    margin: auto;
    padding: 200px;
    text-align: center;
    margin-top: 3%;
    width: 90%;
    font-size: xx-large;
    text-shadow: 5px -5px #000;
}

.WiiU{
    background: url("C:/Users/Admin/OneDrive/Desktop/The-Library/the-library/public/Images/wiiu.jpg");
    background-size: 100%;
    background-position: 10%;
    box-shadow: inset 0 0 0 1000px rgba(0, 112, 177, 0.5);
    opacity: 20;
    margin: auto;
    margin-left: 100%;
    margin: auto;
    padding: 100px;
    text-align: center;
    margin-top: 3%;
    width: 48%;
    float: left;
    font-size: x-large;
    text-shadow: 5px -5px #000;
}
.Wii{
    background: url("C:/Users/Admin/OneDrive/Desktop/The-Library/the-library/public/Images/wii.jpg");
    background-size: 100%;
    background-position: 10%;
    box-shadow: inset 0 0 0 1000px rgb(219, 221, 219, 0.5);
    margin: auto;
    padding: 100px;
    text-align: center;
    margin-top: 3%;
    width: 48%;
    float: right;
    font-size: x-large;
    text-shadow: 5px -5px #000;
}

.Gamecube{
    background: url("C:/Users/Admin/OneDrive/Desktop/The-Library/the-library/public/Images/gamecube.jpg");
    background-size: 100%;
    background-position: 10%;
    box-shadow: inset 0 0 0 1000px rgba(14, 0, 207, 0.5);
    opacity: 20;
    margin: auto;
    margin-left: 100%;
    margin: auto;
    padding: 100px;
    text-align: center;
    margin-top: 3%;
    width: 48%;
    float: left;
    font-size: x-large;
    text-shadow: 5px -5px #000;
}
.N64{
    background: url("C:/Users/Admin/OneDrive/Desktop/The-Library/the-library/public/Images/n64.jpg");
    background-size: 100%;
    background-position: 10%;
    box-shadow: inset 0 0 0 1000px rgb(224, 248, 6, 0.5);
    margin: auto;
    padding: 100px;
    text-align: center;
    margin-top: 3%;
    width: 48%;
    float: right;
    font-size: x-large;
    text-shadow: 5px -5px #000;
}
.SNES{
    background: url("C:/Users/Admin/OneDrive/Desktop/The-Library/the-library/public/Images/snes.jpg");
    background-size: 100%;
    background-position: 10%;
    box-shadow: inset 0 0 0 1000px rgba(14, 0, 207, 0.5);
    opacity: 20;
    margin: auto;
    margin-left: 100%;
    margin: auto;
    padding: 100px;
    text-align: center;
    margin-top: 3%;
    width: 48%;
    float: left;
    font-size: x-large;
    text-shadow: 5px -5px #000;
}
.NES{
    background: url("C:/Users/Admin/OneDrive/Desktop/The-Library/the-library/public/Images/nes.jpg");
    background-size: 100%;
    background-position: 10%;
    box-shadow: inset 0 0 0 1000px rgba(106, 109, 106, 0.5);
    margin: auto;
    padding: 100px;
    text-align: center;
    margin-top: 3%;
    width: 48%;
    float: right;
    font-size: x-large;
    text-shadow: 5px -5px #000;
}
.DS{
    background: url("C:/Users/Admin/OneDrive/Desktop/The-Library/the-library/public/Images/ds.jpg");
    background-size: 100%;
    background-position: 10%;
    box-shadow: inset 0 0 0 1000px rgba(14, 0, 207, 0.5);
    opacity: 20;
    margin: auto;
    margin-left: 100%;
    margin: auto;
    padding: 100px;
    text-align: center;
    margin-top: 3%;
    width: 48%;
    float: left;
    font-size: x-large;
    text-shadow: 5px -5px #000;
    margin-bottom: 3%;
}
.GameBoy{
    background: url("C:/Users/Admin/OneDrive/Desktop/The-Library/the-library/public/Images/gameboy.jpg");
    background-size: 100%;
    background-position: 10%;
    box-shadow: inset 0 0 0 1000px rgba(0, 112, 6, 0.5);
    margin: auto;
    padding: 100px;
    text-align: center;
    margin-top: 3%;
    width: 48%;
    float: right;
    font-size: x-large;
    text-shadow: 5px -5px #000;
    margin-bottom: 3%;
}

.container{
    margin-left:5%;
    margin-right: 5%;
}

